{% extends 'BlogFinal/padre.html'%}  
{% load static %}
{% block contenidoQueCambia %}
 


<br>
<br>
<br>
<br>
<br>


    <div class="container">
        <header class="py-5 bg-light border-bottom mb-4">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img class="border" src="{% static '/assets/img/yo.jpg' %}" class="rounded-circle mb-3" width="150px">
                    <h3 class="card-title mb-3">Augusto Costantino</h3>
                    
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text-center"><br><br><br>
                    <p>Hola me llamo Augusto Costantino, a pesar de tener 18 años me encuentro estudiando Python dirigido al web development. Actualmente estoy finalizando un curso de este mismo en CODERHOUSE y me encuentro en la busquedad de adquirir experiencia.</p>
                 
                 </div>
            </div>
        </div>
       </div>
    </div>
        </header>
    <br>
    <br>
    <br>
    <br>



{% endblock %}